body{
margin:0;
background:#090909;
color:#fff;
font-family:Arial;
}

.top{
padding:10px;
}

#search{
width:100%;
padding:12px;
border:none;
border-radius:12px;
}

video{
width:100%;
height:40vh;
background:black;
}

.cats{

display:flex;

overflow:auto;

gap:10px;

padding:10px;

}

.cat{

padding:10px 16px;

background:#181818;

border-radius:30px;

cursor:pointer;

white-space:nowrap;

}

.grid{

display:grid;

grid-template-columns:
repeat(
auto-fill,
minmax(
160px,
1fr
)
);

gap:10px;

padding:10px;

}

.card{

background:#141414;

padding:12px;

border-radius:16px;

text-align:center;

}

.card img{

width:70px;

height:70px;

border-radius:50%;

object-fit:cover;

}

.name{

margin-top:8px;

font-size:13px;

}
